/* AnyChart Logo */
.logo {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 3px;
}
.logo .chart-row {
    position: absolute;
    display: block;
	bottom: 10px;
	left: 7px;
	letter-spacing: -3px;
	line-height: 0;
	font-size: 0;
	white-space: nowrap;
}

.logo .chart-row .chart-col {
	display: inline-block;
	width: 5px;
	height: 18px;
	background: #000;
	margin: 0 1px;
	vertical-align: bottom;
	-webkit-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
	-moz-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
	-ms-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
	-o-transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
	transition: height 0.2s cubic-bezier(0.65, 0.4, 0.29, 1.01);
}

.logo .chart-row .chart-col.green {
	background: #26a957;
	height: 8px;
}

.logo .chart-row .chart-col.green.inverse {
	background: #9f9f9f;
}

.logo .chart-row .chart-col.orange {
	background: #ff8207;
	height: 13px;
}

.logo .chart-row .chart-col.orange.inverse {
	background: #c8c8c8;
}

.logo .chart-row .chart-col.red {
	background: #f0402e;
	height: 18px;
}

.logo .chart-row .chart-col.red.inverse {
	background: #7d7d7d;
}

.credits:hover .logo .chart-row .chart-col.green {
	height: 16px;
}

.credits:hover .logo .chart-row .chart-col.orange {
	height: 5px;
}

.credits:hover .logo .chart-row .chart-col.red {
	height: 10px;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    background-color: #2d2d2d;
    color: #fff;
}

header {
    padding: 10px 0 0;
}

.toolbar {
    display: flex;
    float: left;
    width: 60px;
    height: calc(100vh - 103px);
    padding: 5px 10px 15px;
    flex-flow: column;
    justify-content: space-between;
}

.toolbar .btn {
    padding: .5rem;
}

.toolbar .btn.active:focus {
    box-shadow: none !important;
}

#chart-container {
    float: left;
    width: calc(100% - 60px);
    height: calc(100vh - 103px);
}

.btn-block {
    margin-bottom: 5px;
}

.btn-sm, .btn-group-sm>.btn {
    padding: .3rem .5rem;
}

.dropdown-toggle::after {
    top: calc(50% - 2px);
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    right: 9px;
    position: absolute;
}

#annotation-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.color-fill-icon {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 2px;
}

.colorpickerplus-custom-colors,
.colorpickerplus-container .input-group {
    display: none;
}

.title-drawing-tools {
    display: none;
}

.text-drawing-tools {
    display: none;
    max-width: 1080px;
    margin-bottom: 20px;
}

.drawing-tools-solo.container {
    margin-top: 25px;
}

.container-drawing-tools .drawing-tools-solo {
    margin: 0;
}

* {
    outline: none !important;
}

.select > .btn {
    font-weight: 400;
    border-color: #c5c8d1;
    background: #fff;
}

.bootstrap-select > .btn {
    width: 100%;
    padding-right: 25px;
    min-height: 100%;
}

select.selectpicker.input-group-prepend + .dropdown-toggle {
    border-top-left-radius: .2em !important;
    border-bottom-left-radius: .2em !important;
}

.error .bootstrap-select .btn {
    border: 1px solid #b94a48;
}

.control-group.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}

.btn-group-container {
    display: inline-block;
    padding-top: 5px;
}

.btn-group.auto-width {
    min-width: 170px;
    margin-top: -1px;
}

.btn-group.auto-width button span {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    line-height: 14px;
    max-width: 0;
    height: 0;
    transition: all .5s ease-out;
}

.btn-group.auto-width button:hover span {
    max-width: 100px;
    height: auto;
    transition: all .6s ease-out;
}

.select .ac {
    margin-right: 5px;
    top: -1px;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0 !important;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    margin-left: -1px;
}

.btn-group .select.select-marker-size {
    margin-left: -5px !important;
}

.btn-group .select {
    margin-left: -1px !important;
}

.select-marker-size[disabled="disabled"] > .btn:first-child {
    opacity: 0.75;
    cursor: not-allowed;
}

.select-marker-size[disabled="disabled"] .btn.active,
.select-marker-size[disabled="disabled"]  .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.choose-drawing-tools.bootstrap-select.btn-group ul.dropdown-menu {
    margin-right: 10px;
}

.choose-marker.bootstrap-select.btn-group ul.dropdown-menu {
    margin-right: 10px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-overflow: ellipsis;
}

button.dropdown-toggle {
    padding-left: 13px !important;
    padding-right: 25px !important;
}

.choose-marker .dropdown-menu,
.dropdown-menu.right {
    top: 0;
    left: 100%;
}

.dropdown-menu.right button {
    margin-bottom: 5px;
}

.choose-marker .open .dropdown-menu,
.open>.dropdown-menu.right {
    display: flex;
    flex-flow: column;
    min-width: 0;
    padding: 5px;
}

.colorpickerplus-dropdown.open>.dropdown-menu.right {
    min-width: 195px;
}

.btn-default.color-picker {
    padding: 6px 9px;
    line-height: 1;
}

.choose-marker .dropdown-menu {
    padding: 5px;
    overflow: visible !important;
}

.choose-marker .dropdown-menu a {
    padding: 6px 12px;
}

#settingsPanel {
    padding: 10px 0;
    min-height: 53px;
}

#select-font-style + .dropdown-toggle .filter-option i {
    padding: 0 5px;
}

/*Loader------------------------------------------------------------------------------------------------------------------------------------*/
.anychart-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #272B30;
}

.anychart-loader .rotating-cover {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -35px;
}

.anychart-loader .rotating-plane {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 5px solid #1c75ba;
    margin: 0 auto;
    position: relative;
    -webkit-animation: rotateplane 3s infinite;
    animation: rotateplane 3s infinite;
}

.anychart-loader .chart-row {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    letter-spacing: -3px;
    line-height: 0;
    font-size: 0;
    white-space: nowrap;
}

.anychart-loader .chart-row .chart-col {
    display: inline-block;
    width: 25%;
    height: 90%;
    background: #000;
    margin: 0 12.5% 0 0;
    vertical-align: bottom;
}

.anychart-loader .chart-row .chart-col.green {
    background: #26a957;
    height: 50%;
    -webkit-animation: blinkplane 1.5s infinite;
    animation: blinkplane 1.5s infinite;
}

.anychart-loader .chart-row .chart-col.orange {
    background: #ff8207;
    height: 70%;
    -webkit-animation: blinkplane 1.5s infinite 0.15s;
    animation: blinkplane 1.5s infinite 0.25s;

}

.anychart-loader .chart-row .chart-col.red {
    background: #f0402e;
    height: 90%;
    -webkit-animation: blinkplane 1.5s infinite 0.3s;
    animation: blinkplane 1.5s infinite 0.5s;
}

@keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        opacity: 0.3;
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        opacity: 1;
    }
    75% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180.1deg);
        transform: perspective(120px) rotateX(0deg) rotateY(-180.1deg);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes blinkplane {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}

/*Loader End------------------------------------------------------------------------------------------------------------------------------------*/

#indicatorForm h5 {
    font-weight: 600;
}

#indicatorForm label {
    font-weight: 400;
}

#indicatorForm input::-webkit-outer-spin-button,
#indicatorForm input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

#indicatorNavPanel {
    font-size: 0;
    display: table;
}

.list-nav {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 25px;
}

.list-nav > li {
    display: inline-block;
    margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    .list-nav > li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 769px) {
    .list-nav > li {
        display: block;
    }

    .list-nav div.select.bootstrap-select {
        width: 100% !important;
    }

    #indicatorNavPanel #resetButton {
        display: block;
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
    }
}
